GENLAYER_DEPLOYER_PRIVATE_KEY=
GENLAYER_DEPLOYMENT_TX_HASH=
GENLAYER_STUDIO_NEXT_DEPLOYMENT_TX_HASH=
GENLAYER_RPC_URL=https://studio-next.genlayer.com/api
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_CONTRACT_VERSION=v3
